*{
    margin: 0;
    padding: 0;
}
ul>li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    height: 66px;
    background: url("../images/hbg.png") #7AA1C8;
}
nav{
    width: 1128px;
    margin: 0 auto;
}
header ul>li{
    display: inline-block;
    color: #ffffff;
    font-family: 微软雅黑;
    font-size: 13px;
    font-weight: 500;
    line-height: 66px;
}
.f_nav{
    float:left;
}
.f_m{
    width: 90px;
    text-align: center;
    line-height: 66px;
}
.f_m:hover{
    background: #3B4E60;
    cursor: pointer;

}
#hudong::after{
    content: url("../images/header_2.png") ;
}
#p1{
    position: relative;
    top: 10px;
}
#p2{
    position: relative;
    top: 10px;
    cursor: pointer;
}
.s_nav{
    float: right;

}
.s_nav>li>a{
    color: white;
}
.s_m{
    margin-right: 20px;
}
.s_m::before{
    content: url("../images/header_4.png");
}
.zhuce::before{
    content: url("../images/header_5.png");
}
.main1{
    width: 100%;
    height: 583px;
    background: url("../images/bg1.png ") no-repeat  #7AA1C8;
}
.main1>p{
    display: block;
   text-align: center;
    position: relative;
    top: 230px;
    line-height: 60px;
    color: white;
}
#p_big{
    font-size: 40px;
    letter-spacing: 5px;
}
#p_small{
    font-size: 16px;
    letter-spacing: 2px;
}
.main1>p>a{
    display: inline-block;
    color: white;
    background: rgba(255,255,255,0.35);
    width: 200px;
    height: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    margin-top: 20px;
    border-radius: 5px;
}
.main1>p>a:hover{
    background: rgba(80,143,255,0.5);
}
.main2{
    height: 350px;
    background: #F5F5F5;
}
.div_m2{
    position: relative;
    top: 30px;
    margin: 0 auto;
    width: 1120px;
    height: 288px;
}
.div_m2>div{
    float: left;
    width: 206px;
    height: 100%;
    background: white;
    margin-right: 1px;
    box-shadow:2px 2px 5px #DCDCDC;

}
.dm2_m{
    margin-left: 20px;
}
.div_m2>div>img{
    display: block;
    margin: 0 auto;
    margin-top: 10px;

}
.div_m2>div>span{
    line-height: 30px;
    font-weight: 100;
}
.div_m2>div>p{
    display: block;
    width:185px;
    margin: 0 auto;
    font-size: 14px;
    color: #999999;
}
.div_m2>div>span:hover,.div_m2>div>p:hover,.div_m2>div>img:hover{
    cursor: pointer;
    color: #5fddff;
}
.b{
    border-bottom:1px solid #EBEBEB;
}
.main2>p{
    display: inline-block;
    line-height: 350px;
}
.main3{
    height: 370px;
    background:white;
}
.div_m3{
    margin: 0 auto;
    width: 1120px;
}
#dm3_p1{
    float: left;
    position: relative;
    top:40px;
}
#dm3_p2{
    float: right;
    width: 750px;
    position: relative;
    top:40px;
}
#dm3_p2>ul>li>span{
    font-size: 30px;
    line-height: 50px;
}
#dm3_p2>ul>li>p{
    line-height: 60px;
    font-size: 16px;
    letter-spacing:2px;
}
#dm3_p2>ul>li>img{
    margin-top: 10px;
}
.main4{
    height: 350px;
    background: #F5F5F5;
}
.div_m4{
    margin: 0 auto;
    width: 1120px;

}
.dm4_1{
    float: left;
    position: relative;
    top:40px;
}
.dm4_1>ul>li>span{
    font-size: 30px;
    line-height: 50px;
}
.dm4_1>ul>li>p{
    line-height: 60px;

}
.dm4_2{
    float: right;
    position: relative;
    top:50px;
}
.main5{
    height: 400px;
    background: white;
}
.div_m5{
    margin: 0 auto;
    width: 765px;
    text-align: center;
}
.div_m5>ul{
    position: relative;
    top: 50px;
}
.div_m5>ul>li{
    line-height: 30px;
}
.div_m5>ul>li>span{
    font-size: 30px;

}
.div_m5>ul>li>p{
    font-size:16px;
    letter-spacing: 1px;
}
footer{
    height: 493px;
    background: #343C3F;
}
.main6{
    height: 375px;
    background: #343C3F;
}
.div_m6{
    margin: 0 auto;
    width: 1120px;
}
.div_m6>div{
    position: relative;
    top: 60px;
}
.dm6_1{
    width: 340px;
    float: left;
}
.dm6_1>ul>li>p{
    text-indent: 2em;
    color: #CCCCCC;
    font-size: 14px;
    letter-spacing: 2px;
}
.dm6_1>ul>li{
    margin-top: 20px;
}
.dm6_2{
    float: right;
    margin-right: 100px;
}
.dm6_2>ul{
    float: left;

}
.dm6_2>ul>li{
    color: #999999;
    line-height: 30px;
    font-size: 13px;
}
.dm6_2>ul>li>a{
    color: #cccccc;
    font-size: 14px;
}
.dm6_2>ul>li>a:hover{
    color: #85a6ff;
}
.dm6_u1{
    margin-right: 100px;
}
.dm6_u2{
    margin-right: 150px;
}

#weixin{
    margin-top: 20px;
}
#a1:before{
    content: url("../images/main6_3.png");
}
#a2:before{
    content: url("../images/main6_4.png");
}
#a3:before{
    content: url("../images/main6_5.png");
}
#a4:before{
    content: url("../images/main6_6.png");
}
#a5:before{
    content: url("../images/main6_7.png");
}
#a6:before,#a7:before{
    content: url("../images/main6_8.png");
}
.footer{
    height: 118px;

}
.footer{
    width: 1290px;
    margin: 0 auto;
    border-top: 1px solid #4D595D;
    text-align: center;
    line-height: 118px;
    font-size:14px;
    color: #BABCBE;
}